<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/registrateForm.css">
</head>
<body>
    <h1>Sign In Form</h1>
    <div id="wrapper">
        <form id="signin" method="" action="" autocomplete="off">
            <input type="text" id="user" name="email" placeholder="email"/>
            <input type="password" id="pass" name="pass" placeholder="password" />
            <button type="submit">&#xf0da;</button>
        </form>
    </div>

</body>
</html>